<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>About</title>
    <link rel="stylesheet" href="/css/styles.css">
    {{>icon}}
  </head>
  <body>
    <div class="main-content">
        {{>header}}
        <p class="about">This site is created by Khaled Abdelrahman using <a href="http://weatherapi.com" target="_blank">weatherapi</a> and <a href="http://geocode.maps.co" target="_blank">geocode</a> .</p>
        <img class="portrait" src='/img/me_new_formal.jpeg' alt='' />
    </div>
    {{>footer}}
  </body>
</html>