<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Help</title>
    <link rel="stylesheet" href="/css/styles.css">
    {{>icon}}
  </head>
  <body>
    <div class="main-content">
      {{>header}}
      <h4>Message: <span>{{message}}</span></h4>
    </div>
    {{>footer}}
  </body>
</html>